.main{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    position: sticky;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    z-index: 100;
}
.topLeft{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 30px;
    height: 30px;
    border-radius: 30%;
}
.leftUl{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;
}
.leftUl li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.topRight{
    display: flex;
    justify-content: space-between;
}
.topRL ul{
    display: flex;
    list-style: none;
}
.topRL ul li{
    margin-right: 20px;
}
.topRL ul li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.topRR{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

